<ul class="nav nav-pills">
  <li class="{{if isCodeView 'active'}}{{if modeChangeDisabled ' disabled'}}">
    <a href {{action 'selectViewMode' 'code'}}>{{t 'types.editor.code'}}</a>
  </li>
  <li class="{{if isDesignView 'active'}}{{if modeChangeDisabled ' disabled'}}">
    <a href {{action 'selectViewMode' 'design'}}>{{t 'types.editor.design'}}</a>
  </li>
</ul>

{{#if isCodeView}}
  {{ap-ace-editor name=name id=idName value=value required=required disabled=disabled size='lg' language='json'}}
{{/if}}
{{#if isDesignView}}
  {{jsonNodeModel}}
{{/if}}
