{{#if breadCrumbs}}
  <li>
    {{#link-to 'application'}}
      {{t 'nav.home'}}
    {{/link-to}}
  </li>
  {{#each breadCrumbs as |crumb|}}
    <li class="separator">
      {{ap-icon icon='arrows-006'}}
    </li>
    <li class="{{if crumb.isCurrent 'active'}}">
      <span class="breadcrumb-label">
        {{#if crumb.linkable}}
          {{#link-to crumb.path}}
            {{t crumb.label}}
          {{/link-to}}
        {{else}}
          {{t crumb.label}}
        {{/if}}
      </span>
      {{#if crumb.secondaryLabel}}
        <span class="label label-info">
          {{crumb.secondaryLabel}}
        </span>
      {{/if}}
    </li>
  {{/each}}
{{/if}}
