{{#unless is-boolean}}
  {{#if label}}
    <label {{bind-attr class=":control-label control-label-classes"}}>{{text}}</label>
  {{/if}}
  <div {{bind-attr class=control-wrapper-classes}}>
    {{yield}}
    {{#if secondary-text}}
      <span class="help-block">{{secondary-text}}</span>
    {{/if}}
  </div>
{{/unless}}

{{#if is-boolean}}
  <div {{bind-attr class=control-wrapper-classes}}>
    <div {{bind-attr class=boolean-type-class}}>
      <label>
        {{yield}}
        {{#if label}}
          {{text}}
        {{/if}}
      </label>
      {{#if secondary-text}}
        <span class="help-block">{{secondary-text}}</span>
      {{/if}}
    </div>
  </div>
{{/if}}
