{{#unless is-boolean}}
  {{#if label}}
    <label {{bind-attr class=":control-label control-label-classes"}}>{{text}}</label>
  {{/if}}
{{/unless}}

<div {{bind-attr class=control-wrapper-classes}}>
  {{#if is-boolean}}
    <div {{bind-attr class=boolean-type-class}}>
      <label>
  {{/if}}
  
  {{yield}}
  
  {{#if is-boolean}}
      </label>
  {{/if}}
  
  {{#if secondary-text}}
    <span class="help-block">{{secondary-text}}</span>
  {{/if}}
  
  {{#if is-boolean}}
    </div>
  {{/if}}
</div>
