{{#if show-heading}}
  <div class="panel-heading">
    {{#if collapse}}
      <a {{bind-attr href=collapse-href}} data-toggle="collapse">
        {{partial 'components/bs-text'}}
      </a>
    {{/if}}
    {{#unless collapse}}
      {{partial 'components/bs-text'}}
    {{/unless}}
  </div>
{{/if}}
{{#if collapse}}
  <div {{bind-attr id=panel-collapse-id class='closed::in :panel-collapse :collapse'}}>
    {{partial 'components/bs-panel/-panel-body'}}
  </div>
{{/if}}
{{#unless collapse}}
  {{partial 'components/bs-panel/-panel-body'}}
{{/unless}}
