{{#if hasIconBefore}}
  {{ap-icon icon=icon}}
{{/if}}

<span {{bind-attr class="textSrOnlyClass"}}>
{{text}}
</span>

{{#if secondary-text}}
  <small {{bind-attr class="textSrOnlyClass"}}>{{secondary-text}}</small>
{{/if}}

{{#if hasIconAfter}}
  {{ap-icon icon=icon}}
{{/if}}
