{{#if hasIconBefore}}
  {{ap-icon icon=icon type=icon-type title=text}}
{{/if}}

<span {{bind-attr class="textSrOnlyClass :text"}}>
{{text}}
</span>

{{#if secondary-text}}
  <small {{bind-attr class="textSrOnlyClass :text-secondary"}}>{{secondary-text}}</small>
{{/if}}

{{#if hasIconAfter}}
  {{ap-icon icon=icon type=icon-type title=text}}
{{/if}}
