<div class="row">
  <div class="col-sm-2">
    <p class="text-right">{{t '$t(actions.edit-x, {"x": "resources.account"})'}}</p>
  </div>
  <div class="col-sm-4">
    {{#ap-model-form-group
      model=model
      name='name'
      label='fields.account_name'
      required=required
      show-label=false}}
        {{input
          type='text'
          name='account_name'
          id='account_name'
          value=model.name
          required=true
          class='form-control input-lg'}}
    {{/ap-model-form-group}}
  </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">

  {{#if subscription.enabled}}
    <div class="col-sm-2">
      <p class="text-right">{{t '$t(actions.edit-x, {"x": "resources.plan"})'}}</p>
    </div>
    <div class="col-sm-5">
      <ul class="list-group">
        {{#each plans as |plan|}}
          <li class="list-group-item">
            <p>
              &nbsp;&nbsp;{{ap-radio value=plan checked=model.plan}}
              <strong>{{plan.name}}</strong>
              ${{plan.dollars}} / mo. ({{plan.javascript_timeout}}s {{t 'fields.javascript_timeout'}})
            </p>
          </li>
        {{/each}}
      </ul>
    </div><!-- /.col -->
    <div class="col-sm-5">
      {{#if (and subscription.enabled model.plan.isBillable)}}
        {{#ap-panel-edit t='resources.stripe-card'}}
          {{partial 'registration/cc-form'}}
        {{/ap-panel-edit}}
      {{/if}}
    </div><!-- /.col -->
  {{/if}}


  <div class="col-sm-5 col-sm-offset-2">
    {{#bs-form-group}}
      {{#if model.errors.base}}
        <p class="text-danger">{{model.errors.base.firstObject.message}}</p>
      {{/if}}
    {{/bs-form-group}}
    {{partial 'components/forms/base-form-actions'}}
  </div><!-- /.col -->
</div><!-- /.row -->
