<div class="row">
  <div class="col-sm-5">
    {{#ap-model-form-group
      model=model
      name='name'
      label='fields.account_name'
      required=required}}
        {{input
          type='text'
          name='account_name'
          id='account_name'
          value=model.name
          required=true
          class='form-control input-lg'}}
    {{/ap-model-form-group}}
  </div><!-- /.col -->
  <div class="col-sm-5 col-sm-offset-1">
    <ul class="list-group">
      {{#each option-groups.plan as |plan|}}
        <li class="list-group-item">
          <p>
            {{ap-radio value=plan.value checked=model.plan}}
            <strong>{{plan.name}}</strong>
            ${{plan.amountPerMonth}} / mo.
          </p>
        </li>
      {{/each}}
    </ul>
  </div><!-- /.col -->
</div><!-- /.row -->

{{#if (and isSubscriptionEnabled model.isBillable)}}
  {{forms/stripe-card-inline-form model=model.card ownerModel=model}}
{{/if}}

{{partial 'components/forms/base-form-actions'}}
