{{partial 'components/forms/base-form'}}

<div class="btn-group">
  <a class="btn btn-default {{if (eq selectedSchema 'request') 'active'}} {{if model.response_same_as_request 'disabled'}}" {{action 'toggleSchema'}}>Request</a>
  <a class="btn btn-default {{if (eq selectedSchema 'response') 'active'}} {{if model.response_same_as_request 'disabled'}}" {{action 'toggleSchema'}}>Response</a>
</div>
<div class="btn-group pull-right">
  <a class="btn btn-info {{if codeEditor 'active'}}" {{action 'activateCodeEditor'}}>Code</a>
  <a class="btn btn-info {{if designEditor 'active'}}" {{action 'activateDesignEditor'}}>Design</a>
</div>
<hr>
{{#if designEditor}}
  {{ap-json-schema-editor model=selectedSchemaModel}}
{{/if}}
{{#if codeEditor}}
  {{#if (eq selectedSchema 'request')}}
    {{ap-model-field
      model=model
      name='request_schema'
      type='editor-json'}}
  {{/if}}
  {{#if (eq selectedSchema 'response')}}
    {{ap-model-field
      model=model
      name='response_schema'
      type='editor-json'}}
  {{/if}}
{{/if}}

{{partial 'components/forms/base-form-actions'}}
