{{partial 'components/forms/base-remote-endpoint-form'}}

{{#if model.isHttp}}
  <div class="row">
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-header_plural'}}
        {{ap-table-model
          models=model.headers
          delete-action='delete-remote-endpoint-header'
          component-name='forms/remote-endpoint-header-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-header'
          action='new-remote-endpoint-header'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-query-parameter_plural'}}
        {{ap-table-model
          models=model.query
          delete-action='delete-remote-endpoint-query-parameter'
          component-name='forms/remote-endpoint-query-parameter-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-query-parameter'
          action='new-remote-endpoint-query-parameter'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
  </div><!-- /.row -->
{{/if}}

{{#if model.isMongo}}
  {{#ap-panel-edit t='resources.host_plural'}}
    {{ap-table-model
      models=model.hosts
      delete-action='delete-remote-endpoint-host'
      component-name='forms/remote-endpoint-host-inline-form'}}
    {{ap-button-block-new
      t='resources.host'
      action='new-remote-endpoint-host'}}
  {{/ap-panel-edit}}
{{/if}}
