{{!-- begin filter form --}}
<div class="filter-form clearfix">
  <span class="filter-label text-muted">{{t 'actions.filter'}}:</span>

  {{#each filterGroups as |fg|}}
    {{#if fg.isText}}
      {{input class='filter-input' value=fg.selection placeholder=(t fg.field.label)}}
    {{/if}}

    {{#unless fg.isText}}
      <div class="filter-dropdown dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          {{t fg.field.label}}{{#if fg.hasSelection}}:
            {{#if fg.translate}}
              {{t fg.selection}}
            {{/if}}
            {{#unless fg.translate}}
              {{#if fg.isDatetime}}
                {{moment-format fg.selection}}
              {{/if}}
              {{#unless fg.isDatetime}}
                {{fg.selection}}
              {{/unless}}
            {{/unless}}
          {{/if}}
          <span class="caret"></span>
        </a><!-- /.dropdown-toggle -->
        <ul class="dropdown-menu">
          {{#if fg.hasSelection}}
            <li>
              <a href="#" {{action 'clearFilter' fg.field}}>
                {{ap-icon icon='the-essentials-103'}}
                {{t 'actions.clear'}}
              </a>
            </li>
          {{/if}}
          {{#if fg.translate}}
            {{#each fg.values as |value|}}
              <li>
                <a href="#" {{action 'selectFilter' fg.field value}}>
                  {{t value}}
                </a>
              </li>
            {{/each}}
          {{/if}}
          {{#unless fg.translate}}
            {{#if fg.isDatetime}}
              {{#each fg.values as |value|}}
                <li>
                  <a href="#" {{action 'selectFilter' fg.field value}}>
                    {{moment-format value}}
                  </a>
                </li>
              {{/each}}
            {{/if}}
            {{#unless fg.isDatetime}}
              {{#each fg.values as |value|}}
                <li>
                  <a href="#" {{action 'selectFilter' fg.field value}}>
                    {{value}}
                  </a>
                </li>
              {{/each}}
            {{/unless}}
          {{/unless}}
        </ul><!-- /.dropdown-menu -->
      </div><!-- /.dropdown -->
    {{/unless}}
  {{/each}}

</div><!-- /.filter-form -->
{{!-- end filter form --}}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        {{#each fields as |field|}}
          <th {{action 'changeSort' field}} class="{{if (eq sortField field.name) 'active-sort'}}">
            {{t field.label}}
            <span class="sort-indicators">
              <span class="sort-indicator-asc"></span>
              <span class="sort-indicator-desc"></span>
            </span>
          </th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each sorted as |model|}}
        <tr>
          {{#each fields as |field i|}}
            <td>
              {{!-- first cell gets link --}}
              {{#if (eq i 0)}}
                {{#link-to route model}}
                  {{partial (concat 'components/ap-table-auto-index-cell/' field.type)}}
                {{/link-to}}
              {{/if}}
              {{!-- subsequent cells do not get links --}}
              {{#unless (eq i 0)}}
                {{partial (concat 'components/ap-table-auto-index-cell/' field.type)}}
              {{/unless}}
            </td>
          {{/each}}
          <td>
            {{#ap-list-nav-simple-icon class='pull-right'}}
              {{ap-list-link
                class='ap-list-link-edit'
                t='actions.edit'
                icon='the-essentials-027'
                path=edit-route
                arg1=model}}
              {{ap-list-link
                class='ap-list-link-delete'
                t='actions.delete'
                icon='the-essentials-011'
                action='delete'
                arg1=model}}
            {{/ap-list-nav-simple-icon}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table><!-- /.table -->
</div><!-- /.table-responsive -->
