{{#bs-form-group}}
  {{input
      name='identification'
      value=identification
      type='email'
      placeholder=(t 'fields.email')
      class='form-control input-lg'}}
{{/bs-form-group}}
{{#bs-form-group}}
  {{input
      name='password'
      value=password
      type='password'
      placeholder=(t 'fields.password')
      class='form-control input-lg'}}
{{/bs-form-group}}
<div class="form-actions">
  {{#bs-form-group}}
    {{bs-submit t='actions.login' lg=true}}
    {{link-to (t 'actions.reset-password') 'password.reset' class='btn btn-link'}}
    {{#if registration_enabled}}
      <p class="text-center">
        {{t 'prompts.no-account'}}
        <span class="hidden-xs">&nbsp;&nbsp;</span>
        <br class="visible-xs hidden-sm">
        {{link-to (t 'actions.sign-up') 'registration'}}
      </p>
    {{/if}}
  {{/bs-form-group}}
  {{#if base-error}}
    <p class="text-danger">{{t base-error}}</p>
  {{/if}}
</div>
