<div class="ap-app-secondary">
  <div class="ap-app-secondary-sidebar {{if view.expanded 'expanded'}}">
    <a class="btn btn-default ap-toggle-nav visible-xs visible-sm" href="#" {{action 'toggleNav' target=view}}>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a><!-- /.btn -->
    {{#ap-list-nav-vertical}}
      {{partial 'layouts/secondary/nav-items'}}
    {{/ap-list-nav-vertical}}
    {{outlet 'sidebar'}}
  </div><!-- /.ap-app-secondary-sidebar -->
  <div class="ap-app-secondary-content">
    {{outlet}}
  </div><!-- /.ap-app-secondary-content -->
</div><!-- /.ap-app-secondary -->
