{{#ap-page t=tertiary-layout-header help-url=(docsUrl 'proxy-endpoints')}}
  <div class="ap-app-tertiary">
    <div class="ap-app-tertiary-sidebar">
      <div class="hidden-xs">
        {{#ap-list-nav-vertical-circle-icon}}
          {{outlet 'nav-items'}}
        {{/ap-list-nav-vertical-circle-icon}}
        {{#ap-list-nav-vertical-circle-icon}}
          {{outlet 'nav-items-secondary'}}
        {{/ap-list-nav-vertical-circle-icon}}
      </div><!-- /.hidden-xs -->

      <div class="visible-xs">
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            {{t 'actions.navigate'}}
            <span class="caret"></span>
          </a><!-- /.dropdown-toggle -->
          <ul class="dropdown-menu">
            {{outlet 'nav-items'}}
            <li class="divider"></li>
            {{outlet 'nav-items-secondary'}}
          </ul><!-- /.dropdown-menu -->
        </div><!-- /.dropdown -->
        <br>
      </div><!-- /.visible-xs -->
    </div><!-- /.ap-app-tertiary-sidebar -->
    <div class="ap-app-tertiary-content">
      {{outlet}}
    </div><!-- /.ap-app-tertiary-content -->
  </div><!-- /.ap-app-tertiary -->
{{/ap-page}}
