<header class="ap-app-header">
  <nav class="ap-navbar-header navbar navbar-inverse" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      {{#unless requestAppUpdate}}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".ap-nav-header">
          <span class="sr-only">{{t 'actions.toggle-navivagation'}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!-- /.navbar-toggle -->
      {{/unless}}

      {{#link-to 'application' class='navbar-brand'}}
        {{ap-brand}}
        {{#if version}}
          <span class="ap-brand ap-brand-version hidden-xs hidden-sm">{{version}}</span>
        {{/if}}
      {{/link-to}}<!-- /.navbar-brand -->

      <div class="ap-loading-container pull-left">
        {{#if isLoading}}
          {{spin-spinner lines=13 length=5 width=2 radius=5 color='#FFF' hwaccel=true}}
        {{/if}}
      </div><!-- /.ap-loading-container -->

      {{#if requestAppUpdate}}
        <div class="alert pull-right">
          {{t 'prompts.app-version-update' }}
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="visible-xs clearfix"></div>
          {{bs-button t='actions.reload' style='info' action='confirmReload'}}
          {{bs-button t='actions.cancel' style='danger' action='cancelReload'}}
        </div><!-- /.alert -->
      {{/if}}

    </div><!-- /.navbar-header -->

    {{#unless requestAppUpdate}}
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse ap-nav-header">
        <ul class="nav navbar-nav navbar-right">
          {{ap-list-link
            t='nav.documentation_plural'
            icon='the-essentials-087'
            url=(docs-url)}}
          {{ap-list-link
            t='nav.support'
            icon='the-essentials-097'
            url=(support-url)}}
          <li class="separator hidden-xs"></li>
          {{#if session.isAuthenticated}}
            <li class="dropdown">
              <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                <span class="text-lowercase">{{session.session.authenticated.email}}</span>
                {{ap-icon icon='arrows-007'}}
              </a><!-- .btn -->
              <ul class="dropdown-menu">
                {{#unless dev_mode}}
                  {{#if session.session.authenticated.admin}}
                    {{ap-list-link
                      path='admin'
                      t='resources.account'}}
                  {{/if}}
                  {{ap-list-link
                    action='invalidateSession'
                    t='actions.logout'}}
                  <li role="presentation" class="divider"></li>
                {{/unless}}
                <li role="presentation" class="dropdown-header">{{t 'prompts.change-language'}}</li>
                {{ap-list-link
                  action='localeChange'
                  arg1='en'
                  t='languages.english'}}
                {{ap-list-link
                  action='localeChange'
                  arg1='es'
                  t='languages.spanish'}}
                {{ap-list-link
                  action='localeChange'
                  arg1='pt-BR'
                  t='languages.brazilian-portuguese'}}
              </ul><!-- .dropdown-menu -->
            </li><!-- .dropdown -->
          {{/if}}
        </ul><!-- /.nav -->

      </div><!-- /.navbar-collapse -->
    {{/unless}}

  </nav><!-- /.navbar -->
</header><!-- /.ap-app-header -->
