<form class="ap-form-login" {{action 'authenticate' on='submit'}}>
  {{#bs-form-group}}
    {{input
        name='identification'
        value=identification
        type='email'
        placeholder=labels.email
        class='form-control input-lg'}}
  {{/bs-form-group}}
  {{#bs-form-group}}
    {{input
        name='password'
        value=password
        type='password'
        placeholder=labels.password
        class='form-control input-lg'}}
  {{/bs-form-group}}
  <div class="form-actions">
    {{#bs-form-group}}
      {{bs-submit t='actions.login' lg=true}}
      <br class="visible-xs">
      {{#if registrationEnabled}}
        {{link-to (t 'actions.sign-up') 'registration' class='btn btn-link'}}
      {{/if}}
      {{link-to (t 'actions.reset-password') 'password.reset' class='btn btn-link'}}
    {{/bs-form-group}}
    {{#if base-error}}
      <p class="text-danger">{{base-error}}</p>
    {{/if}}
  </div>
</form>
