{{partial 'components/forms/base-remote-endpoint-form'}}

{{#if model.isHttp}}
  <div class="row">
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-header_plural'}}
        {{ap-table-model
          models=model.headers
          delete-action='delete-remote-endpoint-header'
          component-name='forms/remote-endpoint-header-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-header'
          action='new-remote-endpoint-header'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-query-parameter_plural'}}
        {{ap-table-model
          models=model.query
          delete-action='delete-remote-endpoint-query-parameter'
          component-name='forms/remote-endpoint-query-parameter-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-query-parameter'
          action='new-remote-endpoint-query-parameter'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
  </div><!-- /.row -->
{{/if}}
{{#unless model.isNew}}
  {{#if model.isPush}}
    {{#ap-panel-edit t='resources.remote-endpoint-push-platform_plural'}}
      {{ap-table-index
          models=model.push_platforms
          fields='type,name'
          path='remote-endpoint-environment-datum-push-platform.index'
          edit-path='remote-endpoint-environment-datum-push-platform.edit'}}
      {{ap-button-block-new
        t='resources.remote-endpoint-push-platform'
        action='new-remote-endpoint-push-platform'}}
    {{/ap-panel-edit}}
  {{/if}}
{{/unless}}

{{#if model.isMongo}}
  {{#ap-panel-edit t='resources.host_plural'}}
    {{ap-table-model
      models=model.hosts
      delete-action='delete-remote-endpoint-host'
      component-name='forms/remote-endpoint-host-inline-form'}}
    {{ap-button-block-new
      t='resources.host'
      action='new-remote-endpoint-host'}}
  {{/ap-panel-edit}}
{{/if}}

{{#if model.isDocker}}
  <div class="row">
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-argument_plural'}}
        {{ap-table-model
          models=model.arguments
          component-name='forms/remote-endpoint-argument-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-argument'
          action='new-remote-endpoint-argument'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
    <div class="col-md-6">
      {{#ap-panel-edit t='resources.remote-endpoint-environment-variable_plural'}}
        {{ap-table-model
          models=model.environment_variables
          component-name='forms/remote-endpoint-environment-variable-inline-form'}}
        {{ap-button-block-new
          t='resources.remote-endpoint-environment-variable'
          action='new-remote-endpoint-environment-variable'}}
      {{/ap-panel-edit}}
    </div><!-- /.col -->
  </div><!-- /.row -->
{{/if}}

{{#unless model.isNew}}
  {{#ap-panel-edit t='resources.remote-endpoint-environment-datum-scratch-pad_plural'}}
    {{ap-table-index
      models=model.scratch_pads
      fields='name'
      delete-action='delete-remote-endpoint-environment-datum-scratch-pad'
      path='remote-endpoint-environment-datum-scratch-pad.edit'
      edit-path='remote-endpoint-environment-datum-scratch-pad.edit'}}
    {{ap-button-block-new
      t='resources.remote-endpoint-environment-datum-scratch-pad'
      action='new-remote-endpoint-environment-datum-scratch-pad'}}
  {{/ap-panel-edit}}
{{/unless}}

{{partial 'components/forms/base-form-actions'}}
