{{#ap-model-form
  model=model
  option-groups=option-groups
  fields=fields}}

  {{#if showBodyField}}
    {{#ap-model-form-group
      model=model
      name=bodyField.name
      label=bodyField.label
      help=bodyField.help
      type=bodyField.type
      required=bodyField.required
      horizontal=true}}
      {{ap-model-field
        model=model
        name=bodyField.name
        label=bodyField.label
        help=bodyField.help
        type=bodyField.type
        required=bodyField.required
        option-groups=option-groups
        show-placeholder=bodyField.show-placeholders}}
    {{/ap-model-form-group}}
  {{/if}}

  {{#unless isNew}}
    {{#bs-row}}
      {{#bs-col lg=6}}
        {{#ap-panel-edit t='resources.proxy-endpoint-test-header_plural'
          class='panel-small'}}
          {{ap-table-model
            models=model.headers
            delete-action='delete-proxy-endpoint-test-header'
            auto-delete=false
            partial-path='proxy-endpoint-test-header/-inline-form'}}
          {{ap-button-block-new
            t='resources.proxy-endpoint-test-header'
            action='new-proxy-endpoint-test-header'}}
        {{/ap-panel-edit}}
      {{/bs-col}}
      {{#bs-col lg=6}}
        {{#if showQueryParameters}}
          {{#ap-panel-edit t='resources.proxy-endpoint-test-query-parameter_plural'
            class='panel-small'}}
            {{ap-table-model
              models=model.query
              delete-action='delete-proxy-endpoint-test-query-parameter'
              auto-delete=false
              partial-path='proxy-endpoint-test-query-parameter/-inline-form'}}
            {{ap-button-block-new
              t='resources.proxy-endpoint-test-query-parameter'
              action='new-proxy-endpoint-test-query-parameter'}}
          {{/ap-panel-edit}}
        {{/if}}
      {{/bs-col}}
    {{/bs-row}}
  {{/unless}}

{{/ap-model-form}}



<div class="panel panel-default">
  <div class="panel-heading">
    {{#unless response.error}}
      <span class="label label-success">{{response.status}}</span>
    {{/unless}}
    {{#if response.error}}
      <span class="label label-danger">{{response.status}}</span>
    {{/if}}
    <span class="label label-default">{{method}}</span>
    <code>{{route}}</code>
    {{#unless isDirty}}
      {{#unless executing}}
        <a class="btn btn-default pull-right" {{action 'executeTest'}}>
          {{t 'actions.execute'}}
          {{ap-icon icon='arrows-006'}}
        </a>
      {{/unless}}
    {{/unless}}
  </div>
  {{#if response}}
    <div class="panel-body">
      <div class="form-group">
        <label class="control-label col-sm-2">{{t 'fields.body'}}</label>
        <div class="col-sm-10">
          <pre class="form-control form-control-flexible">{{response.body}}</pre>
        </div><!-- /.col -->
      </div><!-- /.form-group -->
      <div class="form-group">
        <label class="control-label col-sm-2">{{t 'fields.log'}}</label>
        <div class="col-sm-10">
          <pre class="form-control form-control-flexible">{{response.log}}</pre>
        </div><!-- /.col -->
      </div><!-- /.form-group -->
    </div>
  {{/if}}
</div>
