<li class="{{if (eq selectedNode model) 'active'}}">

  <div class="node-title {{unless model.title 'text-mono'}}" {{action 'select' model}}>
    {{ap-icon icon=(concat 'type-' model.type)}}
    {{#unless model.isRoot}}
      {{#ap-list-nav-simple-icon class='pull-right'}}
        {{ap-list-link
          t='actions.delete'
          icon='the-essentials-011'
          action='delete'
          arg1=model}}
      {{/ap-list-nav-simple-icon}}
    {{/unless}}
    <span class="node-display-name">{{truncate model.displayName limit=25}}</span>
  </div>

  {{#if model.canHaveChildren}}
    <ul>
      {{#each model.children as |model|}}
        {{#unless model.isDeleted}}
          {{partial 'components/ap-json/node'}}
        {{/unless}}
      {{/each}}
      <li class="new-node" {{action 'new' model}}>
        <div class="node-title">
          {{ap-icon icon='the-essentials-010'}}
          <span class="node-display-name">{{t 'actions.new'}}</span>
        </div>
      </li>
    </ul>
  {{/if}}
</li>
