<table class="table {{if striped 'table-striped'}} {{if bordered 'table-bordered'}} {{if hover 'table-hover'}} {{if condensed 'table-condensed'}}">
  <thead>
    <tr>
      {{#each headings-text as |heading|}}
        <th>{{t heading}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{yield}}
  </tbody>
</table>
