{{#ap-model-form
  model=model
  option-groups=option-groups
  fields=fields}}

  {{#if showBodyField}}
    {{#ap-model-form-group
      model=model
      name=bodyField.name
      label=bodyField.label
      help=bodyField.help
      type=bodyField.type
      required=bodyField.required
      horizontal=true}}
      {{ap-model-field
        model=model
        name=bodyField.name
        label=bodyField.label
        help=bodyField.help
        type=bodyField.type
        required=bodyField.required
        option-groups=option-groups
        show-placeholder=bodyField.show-placeholders}}
    {{/ap-model-form-group}}
  {{/if}}

  {{#unless model.isNew}}
    <div class="row">
      <div class="col-lg-6">
        {{#ap-panel-edit t='resources.proxy-endpoint-test-header_plural'
          class='panel-small'}}
          {{ap-table-model
            models=model.headers
            delete-action='delete-proxy-endpoint-test-header'
            partial-path='proxy-endpoint-test-header/inline-form'}}
          {{ap-button-block-new
            t='resources.proxy-endpoint-test-header'
            action='new-proxy-endpoint-test-header'}}
        {{/ap-panel-edit}}
      </div><!-- /.col -->
      <div class="col-lg-6">
        {{#if showQueryParameters}}
          {{#ap-panel-edit t='resources.proxy-endpoint-test-query-parameter_plural'
            class='panel-small'}}
            {{ap-table-model
              models=model.query
              delete-action='delete-proxy-endpoint-test-query-parameter'
              partial-path='proxy-endpoint-test-query-parameter/inline-form'}}
            {{ap-button-block-new
              t='resources.proxy-endpoint-test-query-parameter'
              action='new-proxy-endpoint-test-query-parameter'}}
          {{/ap-panel-edit}}
        {{/if}}
      </div><!-- /.col -->
    </div><!-- /.row -->

    {{#ap-panel-edit t='resources.proxy-endpoint-test-argument_plural' class='panel-small'}}
      {{ap-table-model
        models=model.arguments
        delete-action='delete-proxy-endpoint-test-argument'
        partial-path='proxy-endpoint-test-argument/inline-form'}}
      {{ap-button-block-new
        t='resources.proxy-endpoint-test-argument'
        action='new-proxy-endpoint-test-argument'}}
    {{/ap-panel-edit}}
  {{/unless}}

{{/ap-model-form}}
