<label class="checkbox-inline">
  {{input type='checkbox' name='get_method' checked=model.get_method}}
  {{t 'http-methods.get'}}
</label>
<label class="checkbox-inline">
  {{input type='checkbox' name='post_method' checked=model.post_method}}
  {{t 'http-methods.post'}}
</label>
<label class="checkbox-inline">
  {{input type='checkbox' name='put_method' checked=model.put_method}}
  {{t 'http-methods.put'}}
</label>
<label class="checkbox-inline">
  {{input type='checkbox' name='delete_method' checked=model.delete_method}}
  {{t 'http-methods.delete'}}
</label>
