<label class="checkbox-inline text-mono">
  {{input type='checkbox' name='get_method' checked=model.get_method disabled=disabled}}
  {{t 'http-methods.get'}}
</label>
<label class="checkbox-inline text-mono">
  {{input type='checkbox' name='post_method' checked=model.post_method disabled=disabled}}
  {{t 'http-methods.post'}}
</label>
<label class="checkbox-inline text-mono">
  {{input type='checkbox' name='put_method' checked=model.put_method disabled=disabled}}
  {{t 'http-methods.put'}}
</label>
<label class="checkbox-inline text-mono">
  {{input type='checkbox' name='delete_method' checked=model.delete_method disabled=disabled}}
  {{t 'http-methods.delete'}}
</label>
