<div class="panel panel-default">
  <div class="panel-heading">
    {{#if response.time}}
      <span class="label label-default">{{response.time}} ms</span>
    {{/if}}
  </div>

  <div class="panel-body">
    {{#if response}}
      {{#unless model.hasDirtyAttributes}}
        {{#unless executing}}
          <a class="btn btn-default" {{action 'executeTest'}}>
            {{t 'actions.execute'}}
            {{ap-icon icon='arrows-006'}}
          </a>
          <br>
          <br>
        {{/unless}}
      {{/unless}}
      <div class="form-group">
        <label class="control-label col-sm-2">{{t 'fields.output'}}</label>
        <div class="col-sm-10">
          <pre class="form-control form-control-flexible">{{response.output}}</pre>
        </div><!-- /.col -->
      </div><!-- /.form-group -->
    {{/if}}
    {{#unless model.hasDirtyAttributes}}
      {{#if executing}}
        <div class="spinner-container">
          {{spin-spinner lines=13 length=5 width=2 radius=5 color='#000' hwaccel=true}}
        </div><!-- /.spinner-container -->
      {{/if}}
      <a class="btn btn-default" {{action 'executeTest'}}>
        {{t 'actions.execute'}}
        {{ap-icon icon='arrows-006'}}
      </a>
    {{/unless}}
  </div><!-- /.panel-body -->
</div>
