{{#if show-heading}}
  <div class="panel-heading">
    {{#if collapse}}
      <a href="{{collapse-href}}" data-toggle="collapse">

        {{#if hasIconBefore}}
          {{ap-icon icon=icon type=icon-type title=(t 'actions.new-x' x=t)}}
        {{/if}}
        <span class="{{textSrOnlyClass}} text">{{t 'actions.new-x' x=t}}&hellip;</span>

      </a>
    {{/if}}
    {{#unless collapse}}
      {{#if hasIconBefore}}
        {{ap-icon icon=icon type=icon-type title=(t 'actions.new-x' x=t)}}
      {{/if}}
      <span class="{{textSrOnlyClass}} text">{{t 'actions.new-x' x=t}}&hellip;</span>
    {{/unless}}
  </div>
{{/if}}
{{#if collapse}}
  <div id="{{panel-collapse-id}}" class="{{if closed '' 'in'}} panel-collapse collapse">
    {{partial 'components/bs-panel/-panel-body'}}
  </div>
{{/if}}
{{#unless collapse}}
  {{partial 'components/bs-panel/-panel-body'}}
{{/unless}}
