{{#ap-page t=tertiary-layout-header help-url=(docs-url 'custom-functions')}}
  <div class="ap-app-tertiary">
    <div class="ap-app-tertiary-sidebar">
      <div class="hidden-xs">
        {{#ap-list-nav-vertical-circle-icon}}
          {{ap-list-link
            class='ap-inverse ap-unsortable'
            path='custom-function.edit'
            icon='the-essentials-129'
            t=model.name}}
          {{ap-list-link
            class='ap-inverse ap-unsortable'
            path='custom-function-files'
            icon='the-essentials-072'
            t='resources.custom-function-file_plural'}}
        {{/ap-list-nav-vertical-circle-icon}}
      </div><!-- /.hidden-xs -->

      <div class="visible-xs">
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            {{t 'actions.navigate'}}
            <span class="caret"></span>
          </a><!-- /.dropdown-toggle -->
          <ul class="dropdown-menu">
            {{ap-list-link
              class='ap-inverse ap-unsortable'
              path='custom-function.edit'
              icon='the-essentials-129'
              t=model.name}}
            {{ap-list-link
              class='ap-inverse ap-unsortable'
              path='custom-function-files'
              icon='the-essentials-072'
              t='resources.custom-function-file_plural'}}
          </ul><!-- /.dropdown-menu -->
        </div><!-- /.dropdown -->
        <br>
      </div><!-- /.visible-xs -->
    </div><!-- /.ap-app-tertiary-sidebar -->
    <div class="ap-app-tertiary-content">
      {{yield}}
    </div><!-- /.ap-app-tertiary-content -->
  </div><!-- /.ap-app-tertiary -->
{{/ap-page}}
