{{#if hasIconBefore}}
  {{ap-icon icon=icon type=icon-type title=(t t)}}
{{/if}}

<span class="{{textSrOnlyClass}} text">{{t t}}</span>

{{#if secondary}}
  <small class="{{textSrOnlyClass}} text-secondary">{{t secondary}}</small>
{{/if}}

{{#if hasIconAfter}}
  {{ap-icon icon=icon type=icon-type title=(t t)}}
{{/if}}
