<header class="ap-app-header">
  <nav class="ap-navbar-header navbar navbar-inverse" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".ap-nav-header">
        <span class="sr-only">{{t 'actions.toggle-navivagation'}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!-- /.navbar-toggle -->
      {{#link-to 'application' class='navbar-brand'}}
        {{ap-brand brand='just-apis'}}
        {{ap-brand brand='brought-to-you-by-anypresence'}}
        {{#if meta.version}}
          <span class="ap-brand ap-brand-version">{{meta.version}}</span>
        {{/if}}
      {{/link-to}}<!-- /.navbar-brand -->
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse ap-nav-header">
      <ul class="nav navbar-nav navbar-right">
        {{ap-list-link
          t='nav.documentation_plural'
          icon='the-essentials-087'
          url='http://docs.justapis.com'}}
        {{ap-list-link
          t='nav.support'
          icon='the-essentials-097'
          url='http://support.anypresence.com'}}
        <li class="separator"></li>
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
              <span class="text-lowercase">{{session.secure.email}}</span>
              <span class="retina-arrows-007"></span>
            </a><!-- .btn -->
            <ul class="dropdown-menu">
              {{#unless meta.dev-mode}}
                {{ap-list-link
                  path='users'
                  t='nav.account'}}
                {{ap-list-link
                  action='invalidateSession'
                  t='actions.logout'}}
                <li role="presentation" class="divider"></li>
              {{/unless}}
              <li role="presentation" class="dropdown-header">{{t 'prompts.change-language'}}</li>
              {{ap-list-link
                action='localChange'
                arg1='en'
                t='languages.english'}}
              {{ap-list-link
                action='localChange'
                arg1='es'
                t='languages.spanish'}}
              {{ap-list-link
                action='localChange'
                arg1='pt-BR'
                t='languages.brazilian-portuguese'}}
            </ul><!-- .dropdown-menu -->
          </li><!-- .dropdown -->
        {{/if}}
      </ul><!-- /.nav -->

    </div><!-- /.navbar-collapse -->

  </nav><!-- /.navbar -->
</header><!-- /.ap-app-header -->
