<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          {{ap-icon icon='analyze'}}
        </span><!-- /.input-group-addon -->
        {{#x-select name='type' class='form-control'}}
          {{#each queries as |query|}}
            {{#x-option value=query.type selected=(eq model.type query.type)}}{{query.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      </div><!-- /.input-group -->
    </div><!-- /.form-group -->

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          {{ap-icon icon='the-essentials-120'}}
        </span><!-- /.input-group-addon -->
        {{ap-datetime-field value=start placeholder=(t 'fields.start_date')}}
      </div><!-- /.input-group -->
    </div><!-- /.form-group -->

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          {{ap-icon icon='the-essentials-120'}}
        </span><!-- /.input-group-addon -->
        {{ap-datetime-field value=end placeholder=(t 'fields.end_date')}}
      </div><!-- /.input-group -->
    </div><!-- /.form-group -->

    <div class="form-group">
      {{#if (or start end)}}
        {{#link-to (query-params type='' start='' end='') class='pull-left'}}{{t 'actions.clear'}}{{/link-to}}
      {{/if}}
    </div><!-- /.form-group -->

  </form><!-- /.navbar-form -->
</nav><!-- /.navbar -->
