<li class="{{if (eq selectedNode model) 'active'}}">

  <div class="node-title {{unless model.title 'text-mono'}}" {{action 'select' model}}>
    {{#unless model.isRoot}}
      {{#ap-list-nav-simple-icon class='pull-right'}}
        {{ap-list-link
          t='actions.delete'
          icon='the-essentials-011'
          action='delete'
          arg1=model}}
      {{/ap-list-nav-simple-icon}}
    {{/unless}}

    {{model.displayName}}
  </div>

  {{#if model.canHaveChildren}}
    <ul>
      {{#each model.children as |model|}}
        {{partial 'components/ap-json-schema/node'}}
      {{/each}}
    </ul>
  {{/if}}
</li>
