<label for="{{label-for}}" class="{{control-label-classes}}">{{t t}}{{#if required}}<b>*</b>{{/if}}</label>

{{#if inline}}
  {{#unless is-boolean}}
    {{yield}}
    {{#if secondary}}
      <span class="help-block">{{t secondary}}</span>
    {{/if}}
  {{/unless}}

  {{#if is-boolean}}
    <div class="{{boolean-type-class}}">
      <label>
        {{yield}}
      </label>
      {{#if secondary}}
        <span class="help-block">{{t secondary}}</span>
      {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#unless inline}}
<div class="{{control-wrapper-classes}}">

  {{#unless is-boolean}}
    {{yield}}
    {{#if secondary}}
      <span class="help-block">{{t secondary}}</span>
    {{/if}}
  {{/unless}}

  {{#if is-boolean}}
    <div class="{{boolean-type-class}}">
      <label>
        {{yield}}
      </label>
      {{#if secondary}}
        <span class="help-block">{{t secondary}}</span>
      {{/if}}
    </div>
  {{/if}}

</div>
{{/unless}}
